<%- include('includes/head.ejs')%>





  <main>
    <h1>THIS PAGE IS NOT AVALIALE</h1>
  </main>
  <a href="/add-product
  "> <button class="btn">Reload</button> </a>
  <%- include('includes/end.ejs')%>
</body>
