<%- include('includes/head.ejs')%>
  <main>
    <%- include('includes/navigation.ejs')%>
    <h1>Some errors occurred!</h1>
    
    <h2><i>We're working on fixing this, sorry for the inconvenience!</i></h2>
  </main>
  <a href="/add-product
  "> <button class="button">Reload</button> </a>
  <%- include('includes/end.ejs')%>
</body>